.statistics {
  background-color: lightgray;
  margin-left: 60px;
}

.title {
  text-align: center;
}

.statList {
  display: flex;
  flex-basis: auto;
  padding-inline-start: 0;
}

.statItem {
  background-color: bisque;
}

.friendList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin-bottom: 50px;
}
