.statistics {
  margin: 0 auto;
  width: 28%;
  margin-bottom: 80px;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.statList {
  display: flex;
  width: 400px;
  height: 85px;
}

.label {
  color: white;

}

.percentage {
  color: white;

}

.statItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 15%;
}
